.header {
  padding-top: 100px;
  padding-bottom: 100px;
  &__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (max-width: 340px) {
  .header {
    padding-top: 50px;
    padding-bottom: 50px;
    &__title {
      font-size: 36px;
      line-height: 56px;
    }
  }
}
